.grain {
    background-image: url('https://raw.githubusercontent.com/Ali-Hussein-dev/Ali-Hussein-dev/6bbfa3da39f05d278c0a6fb3e702c43bfc4e90c7/public/grain-white.svg');
    background-repeat: repeat;
    background-size: 240px;
}